AIRFLOW_UID=50000
POSTGRES_USER=lyon
POSTGRES_PASSWORD=lyon
POSTGRES_DB=lyon_nightlife
AIRFLOW_DB=airflow
OVERPASS_URL=https://overpass-api.de/api/interpreter
DATATOURISME_URL=
DATATOURISME_API_KEY=
SIRENE_URL=
LYON_BBOX=45.68,4.75,45.85,4.95
GOOGLE_MAPS_API_KEY=
